@font-face{
    font-family:"poppins-regular";
    src:url("fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family:"poppins-medium";
    src:url("fonts/Poppins-Medium.ttf");
}

@font-face{
    font-family:"poppins-semibold";
    src:url("fonts/Poppins-SemiBold.ttf");
}

@font-face{
    font-family:"poppins-light";
    src:url("fonts/Poppins-Light.ttf");
}

@font-face{
    font-family:"poppins-extralight";
    src:url("fonts/Poppins-ExtraLight.ttf");
}

@font-face{
    font-family:"inter-regular";
    src:url("fonts/Inter/static/Inter_28pt-Regular.ttf");
}


*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:"poppins-regular";
    overflow-x: hidden;
}

img{
    max-width:100%;
    height:auto;
}

.top-bar{
    background:#1A2B56;
    padding:8px 0;
}

.top-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.social-box{
    color:white;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:13px;
    justify-content: flex-end;
}


.time-box{
    font-family:"inter-regular";
     color:white;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:13px;
      justify-content: flex-start;
}

.headerdiv{
    padding:15px 0;
    background:white;
}

.logoimg{
    width:120px;
}


.nav-link{
    color:#1A2B56!important;
    font-size:16px;
    margin:0 8px;
}


.custom-btn{
    display:inline-block;
    background:#64C6C2;
    color:white;
    padding:12px 28px;
    border-radius:30px;
    text-decoration:none;
    font-family:"poppins-medium";
}

.homeimg{
    min-height:80vh;
    background:url("images/Rectangle 3.png") center/cover no-repeat;
    display:flex;
    align-items:center;
}



.overlay{
    color:white;
    max-width:600px;
    font-family:"poppins-semibold";
}

.overlay h2{
    font-size:clamp(35px,5vw,60px);
    line-height:1.2;
    margin-bottom:60px;
}

.first-section{
    padding:60px 0;
}

.PROVENsize{
    font-family:"poppins-extralight";
    font-size:20px;
}

.line{
    width:50px;
    border-top:1px solid #1A2B56;
}

.aboutcontent{
    padding:60px;
}

.abouthead{
    color:#1A2B56;
    font-family:"poppins-semibold";
    font-size:35px;
}


.aboutcont{
    margin-top:30px;
    line-height:1.8;
}

.second-section{
    padding:70px 0;
}

.servicecontent{
    line-height:1.8;
}


.serviceimg{
    width:100%;
    height:auto;
    object-fit:cover;
}
.newshead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 0px;
    color: #1A2B56;

}
.newsimg{
    position: relative;
}
.custom-box{
    position: absolute;
    top:0px;
    left: 24px;
    text-align: center;
    background-color: #64C6C2;
    color: #1A2B56;
}
.threedots{
    display: flex;
     justify-content: center;
    align-items: center;


}
.marchline{
    width: 80%;
   
}

.bluediv{
    background:#1A2B56;
    height:100%;
    color:white;
}

.bluecontentdiv{
    padding:60px;
}


.bluehead{
    font-family:"poppins-semibold";
    font-size:35px;
}

.bluecont{
    line-height:1.8;
}

.blueimage img{
    width:100%;
    height:auto;
    object-fit:cover;
}

.Testimonialhead{
    text-align:center;
    color:#1A2B56;
    font-size:40px;
    font-family:"poppins-semibold";
    margin-bottom:50px;
    margin-top: 35px;
}


.section-head{
    /* text-align:center;
    margin-bottom:30px; */
    position: absolute;
    /* align-items: center !important; */
    top: 3%;
    left: 25%;
}
.carousel-item{
    position:relative;
    
}

/* .prev-btn,
.next-btn{
    border:none;
    color:#1A2B56!important;
    text-decoration: none !important;
    top:50% !important;
   bottom: auto !important;
   transform: translateY(-30%) !important;
   height: auto;
} */

#demo {
    position: relative;
}
.testimonial-slider{
    position: relative;
}
.prev-btn,
.next-btn {
    width: auto;
    color: #1A2B56 !important;
    gap: 8px;
    top: 2600px !important;
    bottom: auto;
    transform: translateY(-50%);
    position: absolute;
    border-style: none;
    background-color: white;
}

.prev-btn {
    left: 5% !important;
    
}

.next-btn {
    right: 5% !important;
    justify-content: end;
 
}

.prev-btn img,
.next-btn img {
    width: 20px;
}


.cardhead{
    color:#1A2B56;
    font-family:"poppins-medium";
}

.card-text{
    color:#393939;
    line-height:1.8;
}

.read-more{
    text-decoration:none;
    color:#1A2B56;
}

.contact-section{
    padding:80px 0;
}

.white-box{
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    position: absolute;
    margin-top: 47px;
    width:650px;
   right:120px;
}
.contactimg{
    position: relative;
    width:83%;
}
.contactimg img{
    width: 104%;
    height:auto;
}
.lasthead{
    margin-top: -200px;
}

.contcont{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:18px;
    font-family:"poppins-light";
    margin-bottom:35px;
}


.iconsconta{
    width:30px;
}


.iconsconta1{
    width:100px;
}


.iconarrow,
.iconarrow1,
.iconarrow2{
    margin-left:auto;
}

.footerdiv{
    background:#1A2B56;
    color:white;
    padding-top:50px;
}

.quick-linediv h5{
    font-family:"poppins-semibold";
}

.heading-line{
    width:80px;
    border:2px solid white;
}

.ackhead{
    font-family:"poppins-semibold";
}

.Copyright{
    padding:20px;
    color:white;
}
.servicehead{
    font-size: 25px;
    color: #1A2B56;
}
@media (max-width: 575px) {

      
    .custom-btn{
        font-size: 10px;
        padding: 8px 10px;
        
    }
    .PROVENsize{
        font-size: 12px;
    }
    .aboutcontent{

        margin-left: 3% !important;
margin-right: 3% !important;
margin-top:0px;
width: 100%;
    }
    .aboutcontent{
     
     margin-top: 10px;
     
    }
.abouthead{
    margin-left:-71px;
    margin-top: 10px;
    margin-top: -56px;
}
.aboutcont{
    margin-left:-71px ;
}
.second-section{
    margin-top: -90px;
}
.bluecontentdiv{
    margin-top: -36px;
    width: 500px;
    line-height: normal;
   
}
.bluehead{
    margin-top: -44px;
    line-height: normal;
    font-size: 18px;
    margin-left: -30px;
}
.bluecont{
    margin-left:2px ;
font-size: 14px;
margin-left: -30px;
}
.blueimage img{
   margin-top: -36px;
   height: 212px;
}
.bluediv{
    height:310px;
}
.Testimonialhead{
    font-size: 18px;
}
    .prev-btn {
        left: 0 !important;
    }

    .next-btn {
        right: 0 !important;
    }

     .prev-btn,
    .next-btn {
        top: 35%;
        font-size: 10px;
        gap: 4px;
    }

    .prev-btn img,
    .next-btn img {
        width: 14px;
    }
    .newsimg{
        width: 100%;
       
    }
.threedots{

}
.contactimg img{
    height: 300px;
    position: static !important;
}
.white-box{
   position: static !important;
   margin-top: 140px;
   width: 100%;
height: 250px;
}
.top-btn{
   margin-left:-70px;
}
.prev-btn {
     left: 0 !important;
     }
      .next-btn { 
        right: 0 !important; 
    } 
    .prev-btn, 
    .next-btn {
         font-size: 10px;
          gap: 4px;
         }
          .prev-btn img, 
          .next-btn img { 
            width: 14px;
         }
         .prev-btn{
margin-top:15px ;
margin-left: -27px;
         }
         .next-btn{
margin-top:15px ;
margin-right: -45px;
         }
          .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.testimonialimg{
 
}
         }

@media (min-width: 576px) and (max-width: 767px){
.top-btn{
   margin-left:-54px;
}
   .custom-btn{
        font-size: 14px;
        padding: 8px 8px;
        
    }
    .PROVENsize{
        font-size: 16px;
    }
    .aboutcontent{

        margin-left: 3% !important;
margin-right: 3% !important;
margin-top:0px;
width: 100%;
    }
    .aboutcontent{
     
     margin-top: 10px;
     
    }
.abouthead{
    margin-left:-52px;
    margin-top: 10px;
    margin-top: -56px;
    font-size: 25px;
}
.aboutcont{
    margin-left:-52px ;
}
.second-section{
    margin-top: -90px;
}
.servicehead{
    font-size: 25px;
}

.Testimonialhead{
    font-size: 25px;
}
   
    .newsimg{
        width: 100%;
       
    }
.threedots{

}
.contactimg img{
    height: 325px;
    position: static !important;
}
.white-box{
   position: static !important;
   margin-top: 140px;
   width: 100%;
height: 250px;
}
.prev-btn {
     left: 0 !important; 
     margin-top:15px ;
margin-left: -80px;
 font-size: 10px;
         gap: 4px;
          width: 14px;
    }
     .next-btn { 
        right: 0 !important;
        margin-top:15px ;
margin-right: -80px;
 font-size: 10px;
         gap: 4px;
          width: 14px;
     }
      
        
        }


@media (min-width: 768px) and (max-width: 991px) {
 #navbarNav .navbar-nav {
        width: 100%;
    }

    #navbarNav .navbar-nav .nav-item:last-child {
        margin-left: auto !important;
    }
.top-btn{
    margin-top: 30px;
}
    /* SAME CONTAINER ALIGNMENT */
    .about-section .container,
    .second-section .container {
        width: 720px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
    }

    /* ABOUT */
    .about-section {
        margin-bottom: 15px !important;
    }

    .aboutcontent {
        margin: 52px !important;
        padding: 0 !important;
        width: 80%;
    }

    .abouthead {
        margin: 0 0 10px 0 !important;
        font-size: 25px;
    }

    .aboutcont {
        margin: 0 !important;
    }

    /* SERVICES */
    .second-section {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    .servicehead {
        margin: 0 0 10px 0 !important;
        font-size: 25px;
    }

    .servicecontent {
        margin: 0 !important;
    }

    /* IMAGE BELOW SERVICE CONTENT */
    .second-section .col-lg-8 {
        margin-top: 15px;
    }

    .serviceimg {
        width: 100%;
        height: auto;
    }
    .serviceimg img{
        height: 250px;
    }
    .prev-btn{
        left: 10px;
    }
.custom-btn{
font-size: 14px;
padding: 6px 10px;
}
    .next-btn{
        right: 10px;
    }
     .Testimonialimage img{
        justify-content: center;
        align-items: center;
        display: flex;
     }
    .Testimonial-section {
    margin-bottom: 0px !important;
}
.navbar-nav{
    gap: 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-left:-50px;

}
.news-section {
    margin-top: 0 !important;
}
.newshead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
    color: #1A2B56;
}
.contactimg img{
   position: static !important; 
height: 400px;
width: 100%;

}
.white-box{
  position: static !important;
    bottom: 210px;
    width: 695px;
    /* left: 100px; */
    margin-left: 0px;
    margin-top: 174px;
}

.prev-btn {
    left: -2% !important;
    margin-top:29px ;
    margin-left: -60px;
}

.next-btn{
    right: -2% !important;
     margin-top:29px ;
    margin-right:-68px ;
}

.prev-btn,
.next-btn {
    font-size: 12px;
    gap: 5px;
}

.prev-btn img,
.next-btn img {
    width: 16px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {

    .blueimage img {
        height: 558px;
    }

    .first-section {
        margin-bottom: -68px;
    }

    .second-section {
        margin-top: -40px;
    }

    .prev-btn,
    .next-btn {
        width: auto;
        color: #1A2B56 !important;
        gap: 8px;
        top: 50% !important;
        bottom: auto;
        transform: translateY(-50%);
    }

    .prev-btn {
        left: -5% !important;
        margin-top: 29px;
        margin-left: -80px;      
    }

    .next-btn {
        right: -5% !important;
        margin-top: 29px;
        margin-right: -80px;      
    }

    .prev-btnimg,
    .next-btn img {
        width: 20px;
    }

    .white-box {
        margin-top: 92px;
        left: auto;        
    }
}


@media(min-width: 1200px) and (max-width:1400px) {

}
/* @media(max-width:575px){
.section-head h4{
font-size: 12px;
}
.section-head h5{
    font-size: 12px;
}


.time-box{
    font-size: 10px;
}
.social-box{
    font-size: 10px;
}
 .line{
        width: 30px;
    }
.custom-btn{
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom: 10px;

}
    .top-content{
        flex-direction:column;
        gap:10px;
    }

    .homeimg{
        min-height:70vh;
    }

    .overlay{
        text-align:center;
    }

    .overlay h2{
        font-size:35px;
        margin-bottom: 20px;
    }

    .PROVENsize{
        font-size:16px;
    }

    .first-section .row{
        gap:20px;
    }

    .aboutcontent{
        padding:25px;
    }

    .bluecontentdiv{
        padding:25px;
        margin-top: -25px;
    }

    .blueimage img{
        height:auto;
        margin-top:-26px;
    }

    .Testimonialhead{
        font-size:30px;
    }

    .white-box{
        padding:25px;
    }

    .contcont{
        font-size:15px;
    }

    .footerdiv .row > div{
        margin-bottom:30px;
    }

 .testimonial-img{
        margin-top: -25px;
    }
 .prev-btn,
    .next-btn {
        position: relative;
        top: 58px; 
        font-size: clamp(14px,2vw,20px);
    }
.prev-btn{
    left: -24px; 
}

.next-btn{
    right: -28px;
}
.testimonial-img{
        width: 250px;
        display: flex;
        align-items: center;
        
}
.section-head{
    position: absolute;
    right: 150px;
    text-align: left;
}
#demo{
    position: relative;
}

 .contentdiv{
        margin-top: -40px;   
    }

.newsimg{
    width:100%;
}
 .contactdiv,
    .white-box{
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        width: 408px;
    }
    .footerdiv{
        margin-top: 50px;
    }
} */
/* @media(min-width:576px){

   .section-head{
    position:absolute;
    right: 261px;
  
   
}
.prev-btn{
    position: absolute;
top: 374px;
        left: -20px;

}
.next-btn{
    position: absolute;
top: 247px;
        right: -33px;
}
.section-head h4{
        font-size: 18px !important;
    }

    .section-head h5{
        font-size: 12px !important;
    }
.testimonialimg{
    width: 80%;
}
.newsimg{
    width:100%;
}
.custom-btn{
    padding: 6px 12px;
    font-size: 10px;
}
.contactimg{
    position: relative;
    height:auto;
    
}
.contactimg img{
    width: 60%;
    height: auto;
}
.white-box{
    width: 550px;
   
}
} */

/* @media(min-width:768px){
.newsimg{
    width:100%;
    
}

.carousel-item{
    position:relative;
}
.section-head{
    position:absolute;
    right: 363px;
  
   
}
.section-head h4{
        font-size: 18px !important;
    }

    .section-head h5{
        font-size: 12px !important;
    }

.next-btn{
  right:10px;
}
.prev-btn{
  left:10px;
}
#demo{
    position: relative;
}

.prev-btn,
.next-btn{
    position: absolute;
}
.prev-btn{
 left: -89px;
        top: 132%;
}
.next-btn{
        right: -90px;
        top: 88%;
}
.newshead{
 margin-bottom: 30px;
        margin-top: 20px;
}

} */
/* @media(min-width:992px){

    .aboutcontent{
        padding:35px;
    }

    .bluecontentdiv{
        padding:40px;
    }

    .serviceimg{
        height:auto;
    }

    .white-box{
        margin-top:30px;
    }
} */
 .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.testimonialimg {
    display: block;
    margin: 0 auto;
}