.top-bar {
    background: #1A2B56;
    padding: 4px 0;
}
.time-box {
     font-size: 12px;
    font-weight: 500;
    color: white;
}
.top-content{
    display: flex;

}
.social-box{
    display: flex;
    margin-left:auto;
    color:white;
}